apiVersion: 1

# List of datasources to insert/update
datasources:
  # Prometheus datasource - will be automatically configured
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      queryTimeout: "60s"
      httpMethod: "POST"
    
  # Alertmanager datasource (for viewing alerts in Grafana)
  - name: Alertmanager
    type: alertmanager
    access: proxy
    url: http://alertmanager:9093
    editable: true
    
  # Loki datasource (optional, for logs)
  # - name: Loki
  #   type: loki
  #   access: proxy
  #   url: http://loki:3100